doctype html
html
  head
    meta(charset="utf8")
    title Index The Bee Tests
    link(rel="stylesheet" href="mocha.css")
    script(src="mocha.js")
    script(src="indexTheBee.js")
    script(src="indexTheBee.tests.js")
    script(src="test.js")
  body
    #mocha
